<gui name="dolphin" version="46">
 <ToolBar alreadyVisited="1" iconText="IconOnly" name="mainToolBar" noMerge="1">
  <Action name="go_back" />
  <Action name="go_forward" />
  <Action name="go_up" />
  <Separator name="separator_0" />
  <Action name="new_tab" />
  <Separator name="separator_1" />
  <Action name="icons" />
  <Action name="compact" />
  <Action name="details" />
  <Action name="open_terminal_here" />
  <Action name="url_navigators" />
  <Action name="add_to_places" />
  <Action name="hamburger_menu" />
 </ToolBar>
 <ActionProperties scheme="Default">
  <Action name="go_back" priority="0" />
  <Action name="go_forward" priority="0" />
  <Action name="go_up" priority="0" />
  <Action name="new_tab" priority="0" />
  <Action name="icons" priority="0" />
  <Action name="compact" priority="0" />
  <Action name="details" priority="0" />
  <Action name="open_terminal_here" priority="0" />
  <Action name="add_to_places" priority="0" />
 </ActionProperties>
</gui>